body{
    padding: 24px;
}

.liMenu{
    background-color:#CCCCCC;
}

div.menu-bar b {
    color:aqua
}

.numeralTitle{
    opacity: 0.5
}

.ulMarker{
    color:blue
}

.ulMarker li:hover{
    color: brown
}

li:first-of-type + li{
    color:fuchsia
}
